.mainWindow{
    background-color: white;
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 10px 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {  
    margin-left: 34px;
    margin-right: 34px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
.searchBox { 
    width: 100%; 
    display: block;
    padding-left: 40px;
}

.searchTextBox{
    display:inline-block;
    width: 80%; 
    padding: 5px; 
    text-align: center; 
    margin-right: 45px;
}

.searchBox i{
    position: absolute; 
}

.icon { 
    padding: 6px; 
    min-width: 40px; 
    color:#cccccc
} 
hr{
    height:2px;
    border-width:0;
    color:#c2c2c2;
    background-color: #c2c2c2;
    margin:40px;
}
.restName{
    text-align: left;
    margin: 5px;
    font-size: 17px;
    font-weight: 500;
    word-break: break-word;
}

.cardtags{
    text-align: left;
    margin:5px;
    color: #686b78;
    font-size: 13px;
}
.fa{
    float: left;
}
.cardRating{
    display: inline;
    float: left;
    color: #535665;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 1px;
}
.cardEta{
    display: inline;
    float: center;
    color: #535665;
    font-size: 12px;
}
.cardDistance{
    display: inline;
    float: right;
    color: #535665;
    font-size: 12px;
}

input{   
    padding: 5px; 
    border: solid 1px #cccccc;
}
select{
    display:inline-block;
    padding: 4px;
    width: 10%;
    border: solid 1px #cccccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color: white;
    text-align: center;
 }

 img{
    width: 100%;
    height: 100%;
 }